<h1>Hellow World with Angular!!!</h1>


<!-- Creación de una aplicación bancaria que cree usuarios, cuenta de banco, cdts y más -->
<!-- 
    Header: Home - Mis Conocimientos - Mis Proyectos
    Menú lateral Izq o Tabs de angular material: Mi Perfil - Experiencia Laboral - Enlaces de Referencia y Recomendados - Recomendaciones
    Footer: Linkeding - copyrigth, etc... - GitHub
 -->

 <!-- 
    Hoja de Vida: 
    Mis Conocimientos: Cursos y Conocimientos - Talleres - Seminarios - Cursos
  -->

<!-- TODO: se comenta mientras se organiza la estructura del poryecto.
    <a href="https://www.flaticon.es" title="javascript iconos">Iconos creados por Freepik - Flaticon</a> -->